name: React Native

on:
  push:
    branches:
      - main 

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16.13.2'  

      - name: Install dependencies
        run: yarn install  

      - name: Run Jest tests
        run: yarn test